<div id="footer">
<h2>Projekt ScriBt</h2>
<p>Interactive ROM envsetup && sync && build script for learning Developers</p>
<h3>#HappyScriBting</h3>
<a href="https://goo.gl/zMfsp3" target="_blank"><img src="https://img.shields.io/badge/License-GPLv3-blue.svg"></a>&nbsp;&nbsp;&nbsp;
<a href="https://goo.gl/9aPUc6" target="_blank"><img src="https://img.shields.io/badge/Development-Ongoing-brightgreen.svg"></a><br><br>
<span class="symbolGrey">Copyright 2016-2017, Arvindraj Thangaraj "a7r3"</span>
</div>
