<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ "index.html" | relative_url }}"> <span id="logoP">P</span><span id="logoR">r</span><span id="logoO">o</span><span id="logoJ">j</span><span id="logoE">e</span><span id="logoK">k</span><span id="logoT">t</span> <span id="logoScriBt">ScriBt</span> </a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <!-- Blog Posts -->
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Blog posts
        <span class="caret"></span></a>
        <ul class="dropdown-menu">{% for p in site.posts %}
            <li{% if p.url == page.url %} class="active"{% endif %}><a href="{{ p.url }}">{{ p.title }}</a></li>{% endfor %}
        </ul>
      </li>

      <!-- Wiki Pages -->
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Wiki Pages
        <span class="caret"></span></a>
        {% assign wiki_pages = site.pages | where: "type", "wiki" %}
        <ul class="dropdown-menu">{% for p in wiki_pages %}
            <li{% if p.url == page.url %} class="active"{% endif %}><a href="{{ p.url }}">{{ p.title }}</a></li>{% endfor %}
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a id="linkAbout" href="{{ "/wiki/about.html" | relative_url }}">About</a></li>
      <li><a class="greyscale" title="Visit the XDA Thread" target="_blank" href="https://forum.xda-developers.com/chef-central/android/guide-tool-projekt-scribt-v1-33-t3503018"><img src="{{ "/static/imgs/xda-developers.svg" | relative_url" }}" height="20px" /></a></li>
      <li><a class="greyscale" title="Fork me on GitHub" target="_blank" href="https://github.com/ScriBt"><img src="{{ "/static/imgs/GitHub-Mark-Light-32px.png" | relative_url" }}" height="20px" /></a></li>
	  <li><a class="greyscale" title="Join our Discussion Group" target="_blank" href="https://t.me/ScriBt"><img src="{{ "/static/imgs/telegram.png" | relative_url" }}" height="22px" ></a></li>
	</ul>
  </div>
</nav>
