/* styling for body/ general styling */
body {
    background: #000;
    color: #DDD;
    font-family: monospace;
}

body, ul, p, th, td {
    font-size: 15px;
    line-height: 24px;
}

a { transition: all 0.2s linear; }

h1, h2, h3 { color: #EF2929; }

div.container {
    margin-top: 80px;
    margin-bottom: 30px;
    background: #000;
}

#scribtLogo { text-align: center; }

/* styling for table */
table {
    border-collapse: collapse;
    text-align: left;
    padding: 2px;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid white;
    text-align: left;
    padding: 5px;
}


/* styling for nav bar */
nav, .navbar { border-radius: 0; }
a.navbar-brand:hover #logoP { color: #EF2929 !important; }
a.navbar-brand:hover #logoR { color: #FCE94F !important; }
a.navbar-brand:hover #logoO { color: #34E2E2 !important; }
a.navbar-brand:hover #logoJ { color: #8AE234 !important; }
a.navbar-brand:hover #logoE { color: #34E2E2 !important; }
a.navbar-brand:hover #logoK { color: #FCE94F !important; }
a.navbar-brand:hover #logoT { color: #EF2929 !important; }
a.navbar-brand:hover #logoScriBt { color: #EF2929 !important; }
#linkAbout { font-size: 17px; }
#linkAbout:hover { color: #337AB7 !important; }

/* styling for dropdown menu */
.dropdown-menu {
    background: #333;
    border-radius: 0;
}

.dropdown-menu a { color: #DDD !important; }
.dropdown-menu a:hover { color: #000 !important;}

.dropdown-menu .active a {
    color: #EF2929 !important;
    background: #000;
}

.dropdown-menu .active a:hover { background: #000; }

/* styling for syntax highlighter */
.highlighter-rouge {
    background: #404040;
    border-radius: 2px;
    color: #FFFFFF;
}

/* styling for footer*/
#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px 0px;
    font-family: "open sans";
    background: #222;
    text-align: center;
}

#footer > h1, #footer > h2 {
    margin: 0px;
}

/* styling for colored theme symbols*/
.symbolRed {
    color: #EF2929 !important; /*i know its suposed to be #F00, but have to match the theme */
}

.symbolBlue {
    color: #4682B4 !important; /*i know its suposed to be #00F, but then terminal uses this */
}

.symbolYellow { color: #FFFF00 !important; }
.symbolGreen { color: #00FF00 !important; }
.symbolAqua { color: #00FFFF !important; }

/* styling for grey scaling */
a.greyscale {
    -webkit-filter: invert(.6) grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: invert(.6) grayscale(100%); /* invert, since greyscale does not work on white and black */
}

a.greyscale:hover {
  filter: none;
}