/* styling for body/ general styling */
body {
	background: #000;
	color: #DDD;
	font-family: monospace;
	font-size: 1.2em;
}

ul {
    font-size: 1.2em;
}

p {
    font-size: 1.2em;
}

h1, h2, h3 {
    color: #EF2929;
}

div.container {
	position: relative;
	z-index: 2;
	width: 100%;
	padding: 0 8%;
    margin-top: 80px;
	margin-bottom: 230px;
	background: #000;
	box-shadow: 0 0 20px #000;
}

#scribtLogo {
    text-align: center;
}

#scribtLogo img {
    border: 0;
}

/* styling for table */
table {
    border-collapse: collapse;
    text-align: left;
    padding: 2px;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid white;
    text-align: left;
    padding: 5px;
    font-size: 1.2em;
}


/* styling for nav bar */
nav, .navbar {
    position: fixed;
    margin-top: -80px;
    width: 100%;
    border-radius: 0;
	z-index: 3;
}

/* styling for dropdown menu */
.dropdown-menu {
    background: #333;
    border-radius: 0;
}

.dropdown-menu a {
    color: #DDD !important;
}

.dropdown-menu a:hover {
    color: #000 !important;
}

.dropdown-menu .active a {
    color: #EF2929 !important;
    background: #000;
}

.dropdown-menu .active a:hover {
    background: #000;
}

/* styling for syntax highlighter */
.highlighter-rouge {
    background: #FFF;
    border-radius: 0px;
    color: red;
}

/* styling for footer*/
#footer {
	position: fixed;
    bottom: 0;
    width: 100%;
	min-height: 100px;
	height: 200px;
	font-family: "open sans";
	background: #222;
	text-align: center;
	z-index: 1;
}

#footer img {
    border: 0;
}
